.main {
  margin-top: 40px;
}

.content {
  background-color: #353b48;
}

.linkRow {
  margin-top: 20px;
  margin-bottom: 20px;
}

.linkIcon {
  font-size: 40px;
  margin-right: 15px;
}

.second {
  background-color: #2f3640;
}

.contactRow {
  margin-top: 10px;
  font-size: 14px;
  color: #aaaaaa;
}

.thanksRow {
  margin-top: 10px;
  font-size: 14px;
  color: #aaaaaa
}

.copyrightRow {
  margin-top: 5px;
  margin-bottom: 16px;
  font-size: 15px;
  color: #dddddd
}

.secondLinkSecond {
  color: #aaaaaa;
}

.secondLinkPrimary {
  color: #dddddd;
}
