.main {
  padding: 20px;
}

.titleRow {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.titleLink {
  color: #000000;
}

.descriptionRow {
  font-size: 15px;
  margin-bottom: 10px;
}

.otherRow {
  font-size: 15px;
  margin-bottom: 50px;
}

.timeSpan {
  float: left;
}

.tagSpan {
  float: right;
}

.tagLink {
  color: rgba(0, 0, 0, 0.65);
}
