@keyframes show-animation {
    from { background-color: rgba(0, 0, 0, 0) }
    to { background-color: #171f26 }
}

@keyframes gone-animation {
    from { background-color: #171f26 }
    to { background-color: rgba(0, 0, 0, 0) }
}

.main {
    height: 64px
}

.normal {
    composes: main;
    animation: gone-animation 1.5s;
    background-color: rgba(0, 0, 0, 0);
}

.affixed {
    composes: main;
    animation: show-animation 1.5s;
    background-color: #171f26;
}

.container {
    height: 100%;
}

.logo {
    line-height: 64px;
    font-size: 25px;
    color: #ffffff;
    float: left;
}

.nav {
    line-height: 64px;
    float: right;
}

.logoLink {
    color: #ffffff;
}

.logoImg {
    width: 64px;
}

.navLink {
    font-size: 15px;
    color: #ffffff;
    margin-left: 4px;
}

.btnSpan {
    margin-left: 4px;
}

.dropdownItem {
    margin: 3px 5px;
}

