.main {
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
}

.col {
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    top: 35%;
}

.registerContainer {
    position: relative;
    width: 100%;
    top: 30%;
}