.login-form {
    background-color: #f6f6f6;
}

.login-form-title-row {
    background-color: #171f26;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.login-form-icon-span {
    vertical-align: middle;
}

.login-form-icon-image {
    height: 50px;
}

.login-form-title-span {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    vertical-align: middle;
}

.login-form-email-row {
    background-color: white;
    padding: 15px;
}

.login-form-password-row {
    background-color: white;
    padding: 0 15px 15px 15px;
}

.login-form-repeat-row {
    background-color: white;
    padding: 0 15px 15px 15px;
}

.login-form-action-row {
    background-color: #e6e6e6;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.login-form-switch-btn {
    margin-left: 10px;
    color: black;
}

.login-form-forget-btn {
    color: black;
}