.main {
    background-color: #f6f6f6;
}

.titleRow {
    background-color: #171f26;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.iconSpan {
    vertical-align: middle;
}

.iconImage {
    height: 50px;
}

.titleSpan {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    vertical-align: middle;
}

.emailRow {
    background-color: white;
    padding: 15px;
}

.passwordRow {
    background-color: white;
    padding: 0 15px 15px 15px;
}

.repeatRow {
    background-color: white;
    padding: 0 15px 15px 15px;
}

.validationRow {
    background-color: white;
    padding: 0 15px 15px 15px;
}

.fetchValidationCodeLink {
    color: black;
}

.actionRow {
    background-color: #e6e6e6;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.switchBtn {
    margin-left: 10px;
    color: black;
}

.forgetBtn {
    color: black;
}

.oauthRow {
    margin: 20px;
    text-align: center;
}

.oauthIcon {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
}