#__next {
    width: 100%;
    height: 100%;
}

.login-container {
    width: 100%;
    height: 100%;
    background-color: #353b48;
}

.login-col {
    height: 100%;
}

.login-form-container {
    position: relative;
    width: 100%;
    top: 30%;
}